.button {
  color: $main-text-color;
  background-color: transparent;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 700;
  width: 150px;
  height: 40px;
  text-decoration: none;
  display: block;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
  transition: all 200ms linear;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: tomato;
  }

  &_loadmore {
    border: 3px solid $main-text-color;
  }

  &_subscribe {
    background-color: $third-accent-color;
    border: 0px;
    width: 160px;
  }
}
.button_subscribe {
  background-color: $third-accent-color;
  border: 0px;
  width: 160px;
}
