.main-header {
  background-size: cover;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url(../images/bg-min.jpg);
  background-image: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../images/bg-min.jpg);
  background-image: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../images/bg-min.jpg);

  @media (min-resolution: 192dpi) {
    background-image: (
        linear,
        left bottom,
        left top,
        from(rgba(252, 227, 138, 0.9)),
        to(rgba(243, 129, 129, 0.9))
      ),
      url(../images/bg@2x-min.jpg);
    background-image: (
        bottom,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url(../images/bg@2x-min.jpg);
    background-image: linear-gradient(
        to top,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url(../images/bg@2x-min.jpg);
  }
}

.logotype {
  color: $main-text-color;
  font-family: $main-font;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  transition: all 200ms linear;

  &:hover {
    color: $accent-color;
  }
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 184px;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 10px;

  li {
    margin-right: 55px;
  }

  &__link {
    color: $main-text-color;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 200ms linear;
    &:hover {
      color: $accent-color;
    }
    &::after {
      display: block;
      content: '';
      width: 100%;
      height: 3px;
      background-color: $accent-color;
      margin-top: 10px;
      opacity: 0;
      transition: all 200ms linear;
    }
  }

  &__item:hover .menu-list__link::after {
    opacity: 1;
  }
}

.navigation-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
}

.interaction-btn__item {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  width: 20px;
  height: 20px;

  &_brascket {
    margin-right: 40px;

    &_svg {
      width: 18px;
      height: 18px;
      fill: #fff;
      &:hover {
        fill: $accent-color;
      }
    }
  }

  &_search_svg {
    width: 18px;
    height: 18px;
    fill: #fff;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
}

.header-title {
  &__main-title {
    color: $main-text-color;
    font-family: 'Kaushan Script';
    font-size: 72px;
    font-weight: 400;
    text-align: center;
  }
  &__secondary-title {
    color: $main-text-color;
    font-family: Montserrat;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 110px;
    display: block;
    padding-top: 40px;
  }
  &-content {
    width: 820px;
    margin: 0 auto;
    padding-bottom: 230px;
  }
}
