$main-font: 'Montserrat';
$secondary-font: 'Roboto';
$main-text-color: #ffffff;
$secondary-text-color: #333333;
$third-text-color: #999999;
$accent-color: #fce38a;
$secondary-accent-color: #f38181;
$third-accent-color: #95e1d3;
