/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


/* kaushan-script-regular - latin */

@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'), url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-300italic - latin */

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../fonts/roboto-v20-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-300italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-regular - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* montserrat-regular - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* montserrat-700 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v14-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

h1 {
    margin: 0px;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    padding: 0px;
    margin: 0px auto;
}

ul,
ol {
    list-style: none;
}


/*Header*/

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-header {
    background-size: cover;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9))), url(../img/bg-min.jpg);
    background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/bg-min.jpg);
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/bg-min.jpg);
}

@media (-webkit-min-device-pixel-ratio:2),
(-o-min-device-pixel-ratio:2/1),
(min-resolution:192dpi) {
    .main-header {
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9))), url(../img/bg@2x-min.jpg);
        background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/bg@2x-min.jpg);
        background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url(../img/bg@2x-min.jpg);
    }
}

.logotype {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    transition: all 200ms linear;
}

.logotype:hover {
    color: #fce38a;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 184px;
}

.menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 10px;
}

.menu-list li {
    margin-right: 55px;
}

.navigation-list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px;
}

.menu-list__link {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 200ms linear;
}

.menu-list__link:hover {
    color: #fce38a;
}

.interaction-btn-wrapper__item_brascket {
    margin-right: 40px;
}

.interaction-btn-wrapper__item_search_svg {
    width: 18px;
    height: 18px;
    fill: #fff;
}

.interaction-btn-wrapper__item_search_svg:hover,
.interaction-btn-wrapper__item_search_svg:focus {
    fill: #fce38a;
}

.interaction-btn-wrapper__item_brascket_svg:hover,
.interaction-btn-wrapper__item_brascket_svg:focus {
    fill: #fce38a;
}

.interaction-btn-wrapper__item {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.interaction-btn-wrapper__item_brascket_svg {
    width: 18px;
    height: 18px;
    fill: #fff;
}

.menu-list__item:hover .menu-list__link::after {
    opacity: 1;
}

.menu-list__link::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    margin-top: 10px;
    opacity: 0;
    transition: all 200ms linear;
}

.header-title__main-title {
    color: #ffffff;
    font-family: "Kaushan Script";
    font-size: 72px;
    font-weight: 400;
    text-align: center;
    /* margin-bottom: 40px; */
}

.header-title__secondary-title {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 110px;
    display: block;
    padding-top: 40px;
}

.header-title__load-more-btn {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    width: 160px;
    height: 40px;
    border: 3px solid #ffffff;
    text-decoration: none;
    display: block;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    transition: all 200ms linear;
}

.header-title__load-more-btn:hover {
    background-color: tomato;
}

.header-title {
    width: 820px;
    margin: 0 auto;
    padding-bottom: 230px;
}


/*Services*/

.titles {
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 50px;
    padding-bottom: 64px;
}

.titles-second {
    color: #333333;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

.sections {
    padding-top: 50px;
    padding-bottom: 50px;
}

.titles::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
    margin-top: 40px;
}

.amazing-services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.amazing-services__list_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 360px;
}

.amazing-services__list_item:nth-of-type(-n+3) {
    margin-bottom: 100px;
}

.amazing-services__list_img {
    width: 60px;
    background-image: url(../img/section-icons/ALARM.svg);
    background-repeat: no-repeat;
    background-position: top center;
}

.amazing-services__list li:nth-of-type(2) .amazing-services__list_img {
    background-image: url(../img/section-icons/LINE_GRAPH.svg);
}

.amazing-services__list li:nth-of-type(3) .amazing-services__list_img {
    background-image: url(../img/section-icons/_OK.svg);
}

.amazing-services__list li:nth-of-type(4) .amazing-services__list_img {
    background-image: url(../img/section-icons/BOOK_2.svg);
}

.amazing-services__list li:nth-of-type(5) .amazing-services__list_img {
    background-image: url(../img/section-icons/HOME.svg);
}

.amazing-services__list li:nth-of-type(6) .amazing-services__list_img {
    background-image: url(../img/section-icons/LINE_GRAPH.svg);
}

.amazing-services__list_title {
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 22px;
}

.amazing-services__list_description {
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.amazing-services__list_wrapper {
    padding-left: 30px;
}


/*team*/

.amazing-team__description {
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 960px;
    margin: 0 auto;
    padding-bottom: 90px;
}

.team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.team-list__item {
    width: 380px;
    text-align: center;
}

.team-list__item_name {
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 12px;
}

.team-list__item_position {
    color: #999999;
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
}


/*overlay*/

.team-list__item:hover .overlay,
.team-list__item:focus .overlay {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    -webkit-box-shadow: 10px 10px 0 0 #95e1d3;
    box-shadow: 10px 10px 0 0 #95e1d3;
}

.team-list__item:hover .team-list__item_photo,
.team-list__item:focus .team-list__item_photo {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
}

.team-list__item_img-wrapper {
    position: relative;
    margin-bottom: 30px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
    background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    visibility: hidden;
}

.social-links {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social-links a:hover,
.social-links a:focus {
    background-color: #f38181;
}

.social-links__icons {
    display: block;
    height: 56px;
    width: 56px;
    background-color: #fce38a;
    background-clip: padding-box;
    border: 1px solid transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-links__icons_item {
    width: 12px;
    height: 26px;
    fill: #f38181;
}

.social-links__icons:hover .social-links__icons_item {
    fill: #fff;
}

.social-links__icons_item-twitter {
    width: 26px;
    height: 22px;
}

.social-links__icons_item-Pinterest {
    width: 21px;
    height: 26px;
}

.social-links__icons_item-instagramm {
    width: 26px;
    height: 26px;
}


/*ащщеук*/

.footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 12px;
}

.footer-link-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-link__description {
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    margin-right: 5px;
}

.footer-link__link {
    color: #f38181;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.subscribe-btn {
    border: 0px;
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: gray;
}

input::-webkit-input-placeholder {
    color: #cccccc;
}

input::-moz-placeholder {
    color: #cccccc;
}

input:-ms-input-placeholder {
    color: #cccccc;
}

input::-ms-input-placeholder {
    color: #cccccc;
}

input::placeholder {
    color: #cccccc;
}

.input-box__placeholder {
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 10px;
    outline: 0px;
}

.input-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}